<div class="container apps_page">
                        <meta itemprop="applicationCategory" content="APPLICATION" />
                        <span itemprop="publisher" itemscope="" itemtype="http://schema.org/Organization">
                            <meta itemprop="name" content="Odoo S.A." />
                        </span>
                        <span itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                            <meta itemprop="availability" content="https://schema.org/InStock" />
                            <meta itemprop="price" content="399.0" />
                            <meta itemprop="priceCurrency" content="seo_module.currency_id.name" />
                        </span>
                        <div class="row">
                            <div class="col-md-7 col-xl-6 mb32">
                                <div class="loempia_app_cover deep-1" style="background-image:url(/static/web/img/module_image.gif) !important"></div>
                            </div>
                            <div id="loempia_app_infos" class="col-md-5 col-xl-6 mb32 loempia_app_info_has_cover">
                                <div class="d-flex">
                                    <img itemprop="image" class="deep-1 loempia_app_icon big" src="/static/web/img/icon_image.png" />
                                    <div class="loempia_app_title">
                                        <h1 class="mt0 mb0" itemprop="name"><b>Odoo WooCommerce Connector</b></h1>
                                        <small>by</small>
                                        <a href="/apps/modules/browse?author=Emipro Technologies Pvt. Ltd.">
                                        <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                                        <span itemprop="name">Emipro Technologies Pvt. Ltd.</span>
                                        <span class="d-none" itemprop="url">https://www.emiprotechnologies.com/</span>
                                        </span>
                                        </a>
                                        <div class="mb4">
                                            <span class="d-none" itemprop="operatingSystem">Odoo</span>
                                            <span itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                                                <meta itemprop="ratingValue" content="5" />
                                                <meta itemprop="worstRating" content="1" />
                                                <meta itemprop="bestRating" content="5" />
                                                <meta itemprop="reviewCount" content="30" />
                                                <meta itemprop="ratingCount" content="14" />
                                            </span>
                                            <a href="#loempia-comments">
                                            <span class="loempia_rating_stars" title="14 votes">
                                            <span class="fa fa-star rating_star_active"></span>
                                            <span class="fa fa-star rating_star_active"></span>
                                            <span class="fa fa-star rating_star_active"></span>
                                            <span class="fa fa-star rating_star_active"></span>
                                            <span class="fa fa-star rating_star_active"></span>
                                            <b><small>14</small></b>
                                            </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="loempia_app_title ml-auto text-right">
                                        <h1 class="mt0 mb0"><b>$ <span class="oe_currency_value">438.14</span></b></h1>
                                    </div>
                                </div>
                                <div class="loempia_tags">
                                    <span class="badge badge-violet-dark" itemprop="softwareVersion">
                                    <b>
                                    v
                                    13.0
                                    </b>
                                    </span>
                                    <span><i class="fa fa-group"></i> Third Party</span>
                                    <span title="Purchases"><i class="fa fa-shopping-cart"></i> 266</span>
                                </div>
                                <form method="post" class="oe_import" action="https://www.odoo.com/shop/apps_cart_update">
                                    <input class="js_module_id" type="hidden" value="64664" />
                                    <input class="js_product_price" type="hidden" value="379.0" />
                                    <input type="hidden" name="modules" value="[64664, 64650]" />
                                    <button id="buy_button" type="submit" class="btn btn-primary mb16">
                                    <i class="fa fa-shopping-cart"></i> Add to Cart
                                    </button>
                                    <input id="url_cart" type="hidden" value="https://www.odoo.com" />
                                    <a rel="nofollow" class="btn btn-primary mb16" href="https://www.emiprotechnologies.com/free-trial?app=woo-commerce-ept&amp;version=13&amp;edition=enterprise">
                                    Live Preview
                                    </a>
                                    <div id="js_login_alert" class="alert alert-info d-none mt8 mb0" role="alert">
                                        Apps purchases are linked to your Odoo account, please <a class="alert-link" href="https://apps.odoo.com/web/login?redirect=https://apps.odoo.com/apps/modules/13.0/woo_commerce_ept">sign in</a> or <a class="alert-link" href="https://www.odoo.com/web/signup">sign up</a> first.
                                    </div>
                                </form>
                                <div class="p-0 col-12 d-md-none d-lg-block">
                                    <table style="word-wrap: break-word;" class="loempia_app_table table table-sm small mt16">
                                        <thead class="alert-info">
                                            <tr>
                                                <td><b>Required Apps</b>
                                                    <a data-toggle="popover" data-content="This app requires some additional standard apps from Odoo to be installed. Please note that installing these apps may upsell your contract if you have a monthly subscription to Odoo services that does not already include these apps.">
                                                    <i class="fa fa-exclamation-triangle text-danger" role="img" aria-label="Warning"></i>
                                                    </a>
                                                </td>
                                                <td>
                                                    &bull;
                                                    <span>Inventory (stock)</span>
                                                    <br /> &bull;
                                                    <span>Sales (sale_management)</span>
                                                    <br /> &bull;
                                                    <span>Invoicing (account)</span>
                                                    <br />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td id="js_bundled_deps"><b>Included Dependencies</b></td>
                                                <td>
                                                    <a role="button" id="more_deps" data-toggle="collapse" href="#resetCollapse" aria-expanded="false" aria-controls="resetCollapse">Show</a>
                                                    <div class="collapse" id="resetCollapse">
                                                        &bull;
                                                        <a href="/apps/modules/13.0/auto_invoice_workflow_ept">Automatic Workflow Settings</a>
                                                        <br />
                                                        <input class="js_module_id" type="hidden" value="64650" />
                                                        <input class="js_product_id" type="hidden" value="14377" /> &bull;
                                                        <a href="/apps/modules/13.0/common_connector_library">Common Connector Library</a>
                                                        <br />
                                                    </div>
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><b>Technical Name</b></td>
                                                <td><code>
                                                    woo_commerce_ept</code>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><b>License</b></td>
                                                <td>OPL-1</td>
                                            </tr>
                                            <tr>
                                                <td><b>Website</b></td>
                                                <td><a href="https://www.emiprotechnologies.com/">https://www.emiprotechnologies.com/</a></td>
                                            </tr>
                                            <tr>
                                                <td class="loempia_app_availability"><b>Also available in version</b></td>
                                                <td>
                                                    <a href="/apps/modules/8.0/woo_commerce_ept">
                                                    <span class="badge bg-beta mr8">
                                                    v
                                                    8.0
                                                    </span>
                                                    </a>
                                                    <a href="/apps/modules/9.0/woo_commerce_ept">
                                                    <span class="badge bg-beta mr8">
                                                    v
                                                    9.0
                                                    </span>
                                                    </a>
                                                    <a href="/apps/modules/10.0/woo_commerce_ept">
                                                    <span class="badge bg-beta mr8">
                                                    v
                                                    10.0
                                                    </span>
                                                    </a>
                                                    <a href="/apps/modules/11.0/woo_commerce_ept">
                                                    <span class="badge bg-beta mr8">
                                                    v
                                                    11.0
                                                    </span>
                                                    </a>
                                                    <a href="/apps/modules/12.0/woo_commerce_ept">
                                                    <span class="badge bg-beta mr8">
                                                    v
                                                    12.0
                                                    </span>
                                                    </a>
                                                    <a href="/apps/modules/13.0/woo_commerce_ept">
                                                    <span class="badge bg-beta mr8">
                                                    v
                                                    13.0
                                                    </span>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <small class="text-muted mb16">
                                You bought this module and need <b>support</b>?
                                <a rel="nofollow" href="/apps/support/64664">
                                Click here!
                                </a>
                                </small>
                            </div>
                        </div>
                        <div class="row d-none d-md-block d-lg-none">
                            <div class="col-md-12">
                                <table style="word-wrap: break-word;" class="loempia_app_table table table-sm small mt16">
                                    <thead class="alert-info">
                                        <tr>
                                            <td><b>Required Apps</b>
                                                <a data-toggle="popover" data-content="This app requires some additional standard apps from Odoo to be installed. Please note that installing these apps may upsell your contract if you have a monthly subscription to Odoo services that does not already include these apps.">
                                                <i class="fa fa-exclamation-triangle text-danger" role="img" aria-label="Warning"></i>
                                                </a>
                                            </td>
                                            <td>
                                                &bull;
                                                <span>Inventory (stock)</span>
                                                <br /> &bull;
                                                <span>Sales (sale_management)</span>
                                                <br /> &bull;
                                                <span>Invoicing (account)</span>
                                                <br />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td id="js_bundled_deps"><b>Included Dependencies</b></td>
                                            <td>
                                                <a role="button" id="more_deps" data-toggle="collapse" href="#resetCollapse" aria-expanded="false" aria-controls="resetCollapse">Show</a>
                                                <div class="collapse" id="resetCollapse">
                                                    &bull;
                                                    <a href="/apps/modules/13.0/auto_invoice_workflow_ept">Automatic Workflow Settings</a>
                                                    <br />
                                                    <input class="js_module_id" type="hidden" value="64650" />
                                                    <input class="js_product_id" type="hidden" value="14377" /> &bull;
                                                    <a href="/apps/modules/13.0/common_connector_library">Common Connector Library</a>
                                                    <br />
                                                </div>
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><b>Technical Name</b></td>
                                            <td><code>
                                                woo_commerce_ept</code>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>License</b></td>
                                            <td>OPL-1</td>
                                        </tr>
                                        <tr>
                                            <td><b>Website</b></td>
                                            <td><a href="https://www.emiprotechnologies.com/">https://www.emiprotechnologies.com/</a></td>
                                        </tr>
                                        <tr>
                                            <td class="loempia_app_availability"><b>Also available in version</b></td>
                                            <td>
                                                <a href="/apps/modules/8.0/woo_commerce_ept">
                                                <span class="badge bg-beta mr8">
                                                v
                                                8.0
                                                </span>
                                                </a>
                                                <a href="/apps/modules/9.0/woo_commerce_ept">
                                                <span class="badge bg-beta mr8">
                                                v
                                                9.0
                                                </span>
                                                </a>
                                                <a href="/apps/modules/10.0/woo_commerce_ept">
                                                <span class="badge bg-beta mr8">
                                                v
                                                10.0
                                                </span>
                                                </a>
                                                <a href="/apps/modules/11.0/woo_commerce_ept">
                                                <span class="badge bg-beta mr8">
                                                v
                                                11.0
                                                </span>
                                                </a>
                                                <a href="/apps/modules/12.0/woo_commerce_ept">
                                                <span class="badge bg-beta mr8">
                                                v
                                                12.0
                                                </span>
                                                </a>
                                                <a href="/apps/modules/13.0/woo_commerce_ept">
                                                <span class="badge bg-beta mr8">
                                                v
                                                13.0
                                                </span>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>