<footer id="bottom" data-anchor="true" class="bg-light o_footer">
    <div id="footer" class="container o_not_editable ">
        <span class="o_logo o_logo_inverse d-block mx-auto o_footer_logo"></span>
        <div class="row">
            <div class="col-md-7 col-lg-7 col-xl-6">
                <div class="row">
                    <div class="col-12 col-md-4 mb-3 mb-md-0">
                        <div class="row">
                            <div class="col-6 col-md-12">
                                <span class="menu_title">Community</span>
                                <ul>
                                    <li><a href="/documentation/user/index.html">User Documentation</a></li>
                                    <li><a href="/page/odoo-community">Mailing Lists</a></li>
                                    <li><a href="/forum/help-1">Forum</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/slides">eLearn Platform</a></li>
                                </ul>
                            </div>
                            <div class="col-6 col-md-12">
                                <span class="menu_title">Developers</span>
                                <ul>
                                    <li><a href="https://www.odoo.com/documentation">Dev Documentation</a></li>
                                    <li><a href="https://github.com/odoo/odoo">Github</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/page/download">Download</a></li>
                                    <li><a href="http://runbot.odoo.com/runbot/repo/git-github-com-odoo-enterprise-7">Runbot</a></li>
                                    <li><a href="https://github.com/odoo/odoo/wiki/Translations">Translations</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <span class="menu_title">Services</span>
                        <ul>
                            <li><a href="https://www.odoo.sh">Odoo Cloud Platform</a></li>
                            <li class="divider"></li>
                            <li><a href="/help">Support</a></li>
                            <li><a href="https://upgrade.odoo.com">Upgrade</a></li>
                            <li class="divider"></li>
                            <li><a href="/partners">Find a partner</a></li>
                            <li><a href="/page/become-a-partner">Become a partner</a></li>
                            <li class="divider"></li>
                            <li><a href="/page/education-program">Education</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-4 mb64">
                        <span class="menu_title">About Odoo</span>
                        <ul>
                            <li><a href="/page/about-us">Our company</a></li>
                            <li><a href="/page/contactus">Contact</a></li>
                            <li class="divider"></li>
                            <li><a href="/event">Events</a></li>
                            <li><a href="/blog">Blog</a></li>
                            <li><a href="/blog/6">Customers</a></li>
                            <li class="divider"></li>
                            <li><a href="/jobs">Jobs</a></li>
                            <li class="divider"></li>
                            <li><a href="/page/odoo-white-paper">White Papers</a></li>
                            <li><a href="/page/press">In the press</a></li>
                            <li class="divider"></li>
                            <li><a href="/page/legal">Legal</a> | <a href="/privacy">Privacy</a> | <a href="/gdpr">GDPR</a></li>
                            <li><a href="/page/security">Security</a> | <a href="/cloud-sla">SLA</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-4 offset-lg-1 col-xl-5 offset-xl-1">
                <ul class="o_language_selector">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle o-no-caret" data-toggle="dropdown">

                            <img alt="" src="//apps.odoo.com/openerp_website/static/src/img/2016/flags/en_US.png" /> English

                        </a>
                        <div class="dropdown-menu js_language_selector">

                        </div>
                    </li>
                </ul>

                <hr class="mt-0 mb-3" />
                <p>
                    <small>Odoo is a suite of open source business apps that cover all your company needs: CRM, eCommerce, accounting, inventory, point of sale, project management, etc.<br /><br />
                            Odoo's unique value proposition is to be at the same time very easy to use and fully integrated.</small>
                </p>
                <div class="social-links">
                    <a href="/web/about/facebook"><i class="fa fa-facebook"></i></a>
                    <a href="/web/about/twitter"><i class="fa fa-twitter"></i></a>
                    <a href="/web/about/linkedin"><i class="fa fa-linkedin"></i></a>
                    <a href="mailto:info@odoo.com"><i class="fa fa-envelope"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="o_footer_bottom o_not_editable">
        <div class="container">
            <a class="small" href="/page/website-builder">Website made with <span class="o_logo o_logo_inverse o_logo_15"></span></a>
        </div>
    </div>
</footer>
<div id="o_live_modal" class="modal fade" tabindex="-1" role="dialog" contentEditable="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="mt8"><b></b> on YouTube</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="text-black">
                    <b>1.</b> Use the live chat to ask your questions.
                    <br />
                    <b>2.</b> The operator answers within a few minutes.
                </p>
            </div>
            <div class="modal-body bg-gray-lighter">
                <img src="//apps.odoo.com/openerp_website/static/src/img/2016/live-support/info.gif" class="img img-fluid" alt="" />
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary btn-lg" target="_blank" href="">Watch now<i class="fa fa-1x fa-long-arrow-right ml8"></i></a>
            </div>
        </div>
    </div>
</div>
