<header class="o_main_header o_has_sub_nav o_inverted o_no_autohide_menu">
    <div class="o_main_header_main">
        <a class="float-left o_logo" href="/"></a>
        <a href="#" class="o_mobile_menu_toggle o_no_ripple d-inline-block d-md-none">
            <i class="fa fa-bars"></i>
        </a>
        <div class="o_header_buttons">
            <a href="/shop/cart" class="d-none">
                <i class="fa fa-shopping-cart"></i><sup class="my_cart_quantity badge badge-primary"></sup>
            </a>
            <div>
                <a href="/web/login">Sign in</a>
            </div>
            <a class="btn btn-primary" href="/trial">Try it free</a>
        </div>
        <ul class="o_primary_nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle o-no-caret">Apps</a>
                <div class="dropdown-menu o_secondary_nav">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 o_website_apps">
                                <div class="o_nav_app_family">
                                    <span></span> Websites
                                    <div>Build great user experience</div>
                                </div>
                                <ul>
                                    <li><a href="/page/website-builder">Website Builder</a></li>
                                    <li><a href="/page/open-source-ecommerce">eCommerce</a></li>
                                    <li><a href="/page/blog-engine">Blogs</a></li>
                                    <li><a href="/page/community-builder">Forums</a></li>
                                    <li><a href="/page/events">Events</a></li>
                                    <li><a href="/page/live-chat">Live Chat</a></li>
                                    <li><a href="/page/learning-management-system">eLearning <span class="badge badge-pill badge-primary ml-1">New</span></a></li>
                                </ul>
                            </div>
                            <div class="col-md-3 o_sale_apps">
                                <div class="o_nav_app_family">
                                    <span></span> Sales
                                    <div>Boost your success rate</div>
                                </div>
                                <ul>
                                    <li><a href="/page/sales">Sales</a></li>
                                    <li><a href="/page/crm">CRM</a></li>
                                    <li><a href="/page/billing">Invoicing</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle o-no-caret">Point of Sale</a>
                                        <ul>
                                            <li><a href="/page/point-of-sale-shop">Shops</a></li>
                                            <li><a href="/page/point-of-sale-restaurant">Restaurants</a></li>
                                            <li><a href="/page/point-of-sale-hardware">Hardware</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/page/subscriptions">Subscriptions</a></li>
                                    <li><a href="/page/sign">Sign</a></li>
                                    <li><a href="/page/rental">Rental <span class="badge badge-pill badge-primary ml-1">New</span></a></li>
                                </ul>
                            </div>
                            <div class="col-md-3 o_operation_apps">
                                <div class="o_nav_app_family">
                                    <span></span> Operations
                                    <div>It's all about efficiency</div>
                                </div>
                                <ul>
                                    <li><a href="/page/accounting">Accounting</a></li>
                                    <li><a href="/page/project-management">Project</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle o-no-caret">Human Resources <span class="badge badge-pill badge-primary ml-1">New</span></a>
                                        <ul>
                                            <li><a href="/page/referral">Referral <span class="badge badge-pill badge-primary ml-1">New</span></a></li>
                                            <li><a href="/page/recruitment">Recruitment</a></li>
                                            <li><a href="/page/employees">Employees</a></li>
                                            <li><a href="/page/expenses">Expenses</a></li>
                                            <li><a href="/page/appraisal">Appraisal</a></li>
                                            <li><a href="/page/fleet">Fleet</a></li>
                                            <li><a href="/page/leaves">Leaves</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/page/warehouse">Inventory</a></li>
                                    <li><a href="/page/purchase">Purchase</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle o-no-caret">Manufacturing</a>
                                        <ul>
                                            <li><a href="/page/mrp-cloud-software">MRP</a></li>
                                            <li><a href="/page/mrp-plm">PLM</a></li>
                                            <li><a href="/page/tpm-maintenance-software">Maintenance</a></li>
                                            <li><a href="/page/quality-management-software">Quality</a></li>
                                            <li><a href="/page/iot">IoT Box</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/page/helpdesk">Helpdesk</a></li>
                                    <li><a href="/page/field-service-management">Field Service <span class="badge badge-pill badge-primary ml-1">New</span></a></li>
                                </ul>
                            </div>
                            <div class="col-md-3 o_productivity_apps">
                                <div class="o_nav_app_family">
                                    <span></span> Productivity Tools
                                    <div>Great Tools = Happy People</div>
                                </div>
                                <ul>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle o-no-caret">Communication</a>
                                        <ul>
                                            <li><a href="/page/discuss">Discuss</a></li>
                                            <li><a href="/page/discuss-groups">Mailing Lists</a></li>
                                            <li><a href="/page/notes">Notes</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/page/timesheet-mobile-app">Timesheet</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle o-no-caret">Marketing <span class="badge badge-pill badge-primary ml-1">New</span></a>
                                        <ul>
                                            <li><a href="/page/social-marketing">Social <span class="badge badge-pill badge-primary ml-1">New</span></a></li>
                                            <li><a href="/page/email-marketing">Email</a></li>
                                            <li><a href="/page/marketing-automation">Automation</a></li>
                                            <li><a href="/page/sms-marketing">SMS <span class="badge badge-pill badge-primary ml-1">New</span></a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/page/survey">Survey</a></li>
                                    <li><a href="/page/approval-workflow">Approvals <span class="badge badge-pill badge-primary ml-1">New</span></a></li>
                                    <li><a href="/page/appointments">Appointments</a></li>
                                    <li><a href="/page/documents">Documents</a></li>
                                    <li><a href="/page/planning">Planning <span class="badge badge-pill badge-primary ml-1">New</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <span class="o_store_link d-md-flex justify-content-md-center">
                        <a href="/apps/modules" class="mx-md-3 px-3"><i class="fa fa-cube fa-fw mr-2"></i>Third party apps</a>
                        <a href="/page/studio" class="mx-md-3 px-3"><i class="fa fa-pencil fa-fw mr-2"></i>Odoo Studio</a>
                        <a href="https://www.odoo.sh" class="mx-md-3 px-3"><i class="fa fa-cloud fa-fw mr-2"></i>Odoo Cloud Platform</a>
                    </span>
                </div>
            </li>
            <li><a href="/page/tour">Tour</a></li>
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="/slides">Learn</a></li>
            <li><a href="/page/community">Community</a></li>
        </ul>
    </div>
    <div id="loempia_navbar">
        <div class="container">

            <div class="row">
                <div class="col-md-8">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/apps/modules/browse">

                                <i class="fa fa-cube"></i> <b>APPS</b>
                            </a>
                        </li>
                        <li class="breadcrumb-item">

                            <a itemprop="applicationCategory" href="/apps/modules/category/Sale/browse">Sale</a>

                        </li>
                        <li class="breadcrumb-item active">
                            <a class="o-text-overflow-inline-block" style="max-width: 200px;" href="/apps/modules/browse?search=Odoo WooCommerce Connector">Odoo WooCommerce Connector</a>
                            <a href="/apps/modules/browse?series=13.0">
                                <span class="badge bg-white">

                                    v
                                    13.0

                                </span>
                            </a>
                        </li>
                        <div class="d-flex justify-content-end flex-grow-1">
                            <a target="_blank" class="mr16" href="/apps/sales-conditions">Sales Conditions</a>
                            <a target="_blank" class="" href="/apps/faq">FAQ</a>
                        </div>
                    </ol>
                </div>
                <div class="d-block d-md-none col-1">
                    <a class="loempia_btn loempia_navbar_back_btn" href="/apps/modules/browse">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                </div>

                <div class="col-md-4 col-11">

                    <form method="get" class="navbar-search form-inline input-group" action="/apps/modules//browse">
                        <input type="text" name="search" class="search-query form-control" placeholder="Your search..." value="" />
                        <span class="input-group-append">
                            <button type="submit" class="btn btn-link"><i class="fa fa-search"></i></button>
                        </span>
                    </form>

                </div>
            </div>
        </div>
    </div>
</header>