<section id="loempia-comments" class="mb48 loempia_comments">
                            <div class="row">
                                <div class="col-lg-8 offset-lg-2 mb32 css_editable_mode_hidden">
                                    <h2 class="mt64 fw_extralight">
                                        Please <a href="https://apps.odoo.com/web/login?redirect=https://apps.odoo.com/apps/modules/13.0/woo_commerce_ept"><b>log in</b></a> to comment on this module
                                    </h2>
                                    <div class="mb32">
                                        <ul>
                                            <li>The author can leave a single reply to each comment.</li>
                                            <li>This section is meant to ask simple questions or leave a rating. Every report of a problem experienced while using the module should be addressed to the author directly (refer to the following point).</li>
                                            <li>
                                                If you want to start a discussion with the author or have a question related to your purchase, please use the <a href="/apps/support/64664">support page</a>.
                                            </li>
                                        </ul>
                                    </div>
                                    <form id="comment" action="/apps/rating">
                                        <div class="row">
                                            <span class="col-1">
                                            <img class="img rounded-circle" style="width: 30px;" src="/website/image?model=res.partner&amp;field=image_128&amp;id=5" />
                                            </span>
                                            <div class="col-11">
                                                <textarea rows="1" name="subject" class="form-control mb8" placeholder="Write your overall feeling..." disabled="True"></textarea>
                                                <input name="module_id" type="hidden" value="64664" />
                                                <textarea rows="8" name="comment" class="form-control" placeholder="Write a detailed feedback..." disabled="True"></textarea>
                                                <button type="submit" id="post_button" class="btn btn-primary mt16 disabled" disabled="diasbled">Post</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="loempia-tabs">
                                <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="ratings-tab" data-toggle="tab" href="#ratings" role="tab" aria-controls="ratings" aria-selected="true">Ratings</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="false">Discuss</a>
                                    </li>
                                </ul>
                                <div class="row mt-2 mb-2">
                                    <div class="col-1 offset-1">
                                        <div class="modal fade" id="report_comment_modal" tabindex="10000" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="report_modal_title">Report comment</h5>
                                                        <small>
                                                        <span class="text-muted fa fa-info-circle"> Any abuse of this reporting system will be penalized</span>
                                                        </small>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form id="comment_report_form" class="col-md-11 offset-md-1">
                                                            <input name="rating_id" type="hidden" />
                                                            <label>
                                                            <input type="radio" name="reason" value="racist" /> Hate speech or graphic violence
                                                            </label>
                                                            <br />
                                                            <label>
                                                            <input type="radio" name="reason" value="sexual" /> Pornography, sexually explicit material
                                                            </label>
                                                            <br />
                                                            <label>
                                                            <input type="radio" name="reason" value="advertising" /> Unwanted commercial content or spam
                                                            </label>
                                                            <br />
                                                            <label>
                                                            <input type="radio" name="reason" value="insult" /> Harassment or bullying
                                                            </label>
                                                            <br />
                                                            <div class="modal-footer">
                                                                <button type="submit" id="submit_reseller_modal" class="btn btn-primary">Confirm</button>
                                                                <button type="button" id="cancel_reseller_modal" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="ratings" role="tabpanel" aria-labelledby="ratings-tab">
                                        <div class="row">
                                            <div class="col-lg-8 offset-lg-2 o_loempia_comment">
                                                <div class="row mt16" data-id="18828">
                                                    <div class="col-1">
                                                        <img class="img img-circle" style="width: 30px" src="/website/image?model=res.partner&amp;field=image_128&amp;id=302703" />
                                                    </div>
                                                    <div class="col-10">
                                                        <div class="rating-display">
                                                            <span class="loempia_rating_stars" title="">
                                                            <span class="fa fa-star rating_star_active"></span>
                                                            <span class="fa fa-star rating_star_active"></span>
                                                            <span class="fa fa-star rating_star_active"></span>
                                                            <span class="fa fa-star rating_star_active"></span>
                                                            <span class="fa fa-star rating_star_active"></span>
                                                            </span>
                                                        </div>
                                                        <h6 class="mb4 discussion_scroll_title"><b>Wonderful service!</b></h6>
                                                        <div class="comment-date">
                                                            <span class="text-muted">by</span>
                                                            <span style="display: inline-block;">
                                                                <address class="mb-0" itemscope="itemscope" itemtype="http://schema.org/Organization">
                                                                    <div>
                                                                        <span itemprop="name">nick@matchbook.media</span>
                                                                    </div>
                                                                    <div itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
                                                                    </div>
                                                                    <div>
                                                                    </div>
                                                                </address>
                                                            </span>
                                                            <span class="text-muted">on <span>2/13/20, 9:39 PM</span></span>
                                                        </div>
                                                        <div class="discussion_scroll_post mt16 mb16">
                                                            <p>The customer support team is amazing. They worked with me to get everything set up and helped to troubleshoot a GitHub connection issue so I could get it fixed and the app installed. Can't say enough good things about them. Five stars are not enough.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr class="col-lg-10 offset-lg-1 mt0 mb0" style="min-height:3px;padding:0px;border-top: 1px solid #DFDFDF" />
                                            </div>
                                            <div class="col-lg-8 offset-lg-2 o_loempia_comment">
                                                <div class="row mt16" data-id="17743">
                                                    <div class="col-1">
                                                        <img class="img img-circle" style="width: 30px" src="/website/image?model=res.partner&amp;field=image_128&amp;id=303229" />
                                                    </div>
                                                    <div class="col-10">
                                                        <div class="rating-display">
                                                            <span class="loempia_rating_stars" title="">
                                                            <span class="fa fa-star rating_star_active"></span>
                                                            <span class="fa fa-star rating_star_active"></span>
                                                            <span class="fa fa-star rating_star_active"></span>
                                                            <span class="fa fa-star rating_star_active"></span>
                                                            <span class="fa fa-star rating_star_active"></span>
                                                            </span>
                                                        </div>
                                                        <h6 class="mb4 discussion_scroll_title"><b>Amazing service, and very helpful team.</b></h6>
                                                        <div class="comment-date">
                                                            <span class="text-muted">by</span>
                                                            <span style="display: inline-block;">
                                                                <address class="mb-0" itemscope="itemscope" itemtype="http://schema.org/Organization">
                                                                    <div>
                                                                        <span itemprop="name">odooadmin@savanaksa.com</span>
                                                                    </div>
                                                                    <div itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
                                                                    </div>
                                                                    <div>
                                                                    </div>
                                                                </address>
                                                            </span>
                                                            <span class="text-muted">on <span>1/8/20, 3:17 AM</span></span>
                                                        </div>
                                                        <div class="discussion_scroll_post mt16 mb16">
                                                            <p>Since making the decision to work with Emipro, we have been very pleased with their prompt attention and incredibly helpful and supportive team. The Woocommerce Odoo connector works well, and any problems, issues and questions have been answered and solved extremely fast. Our 5-star ranking is a genuine reflection of what we feel is an excellent product, and an incredible service experience with Emipro!</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr class="col-lg-10 offset-lg-1 mt0 mb0" style="min-height:3px;padding:0px;border-top: 1px solid #DFDFDF" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="comments" role="tabpanel" aria-labelledby="comments-tab">
                                        <div class="row">
                                            <div class="col-lg-8 offset-lg-2 o_loempia_comment">
                                                <div class="row mt16" data-id="19898">
                                                    <div class="col-1">
                                                        <img class="img img-circle" style="width: 30px" src="/website/image?model=res.partner&amp;field=image_128&amp;id=203502" />
                                                    </div>
                                                    <div class="col-10">
                                                        <div class="rating-display">
                                                        </div>
                                                        <h6 class="mb4 discussion_scroll_title"><b>Integrated to market place</b></h6>
                                                        <div class="comment-date">
                                                            <span class="text-muted">by</span>
                                                            <span style="display: inline-block;">
                                                                <address class="mb-0" itemscope="itemscope" itemtype="http://schema.org/Organization">
                                                                    <div>
                                                                        <span itemprop="name">Herru Murtopo</span>
                                                                    </div>
                                                                    <div itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
                                                                    </div>
                                                                    <div>
                                                                    </div>
                                                                </address>
                                                            </span>
                                                            <span class="text-muted">on <span>3/23/20, 9:07 PM</span></span>
                                                        </div>
                                                        <div class="discussion_scroll_post mt16 mb16">
                                                            <p>Its based on import or can integrated to market place? if there is selling on market place will integrated state to odoo?</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-11 offset-md-1">
                                                    <div class="row mt16" data-id="19900">
                                                        <div class="col-1">
                                                            <img class="img img-circle" style="width: 30px" src="/website/image?model=res.partner&amp;field=image_128&amp;id=117246" />
                                                        </div>
                                                        <div class="col-10">
                                                            <div class="rating-display">
                                                            </div>
                                                            <h6 class="mb4 discussion_scroll_title"><b>Re: Integrated to market place</b></h6>
                                                            <div class="comment-date">
                                                                <span class="text-muted">by</span>
                                                                <span style="display: inline-block;">
                                                                    <address class="mb-0" itemscope="itemscope" itemtype="http://schema.org/Organization">
                                                                        <div>
                                                                            <span itemprop="name">Emipro Technologies Pvt. Ltd.</span>
                                                                        </div>
                                                                        <div itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
                                                                        </div>
                                                                        <div>
                                                                        </div>
                                                                    </address>
                                                                </span>
                                                                <span class="text-muted">on <span>3/23/20, 10:51 PM</span></span>
                                                                <span class="text-primary ml-3">Author <i class="fa fa-bookmark"></i></span>
                                                            </div>
                                                            <div class="discussion_scroll_post mt16 mb16">
                                                                <p>Hello Herru, The Odoo WooCommerce Connector helps you connect WooCommerce, an eCommerce platform with Odoo ERP. WooCommerce does not have default feature to become a marketplace and hence the connector will work only with what WooCommerce offers by default. We may require further discussion and clarification to understand your requirements better. I request you to drop as your inquiry on info@emiprotechnologies.com and we will help you out. Best Regards, Team Emipro</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr class="col-lg-10 offset-lg-1 mt0 mb0" style="min-height:3px;padding:0px;border-top: 1px solid #DFDFDF" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>